<!-- {{- define "HomeScript" }} -->
<script>
const { createApp, ref, reactive } = Vue

createApp({
  setup() {
    const searchText = ref('')
    return {
      searchText,
    }
  }
}).mount('#app')
</script>
<!-- {{- end }} -->

---

<!-- {{- define "Home" }} -->
<Root id="app">
  <Layout>
    <form class="flex flex-col gap-6" hx-post="/search" hx-target="#search-results" hx-swap="innerHTML">
      <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" />

      <InputComp v-model="searchText" name={name} placeholder="Search Here" ></Inputcomp>

      <div>{{ searchText? "Search for" : "" }} {{ searchText }}</div>

      <button class="bg-blue-500 text-white px-4 py-2 rounded-md" type="submit">Search</button>

      <div id="search-results" class="flex flex-col gap-6 transition-all">
        <NoResult></NoResult>
      </div>
    </form>
  </Layout>
</Root>
<!-- {{- end }} -->

---

<!-- {{- define "InputComp" }} -->
<div class="border rounded-md flex items-center gap-3 justify-between px-3">
  <input v-model={vmodel} class="p-2 bg-transparent flex-1 outline-none" type="text" name={name} placeholder={placeholder} />
  <button type="button" hx-get="/no-result" hx-target="#search-results" class="p-2 bg-transparent outline-none">
    <i data-lucide="x"></i>
  </button>
</div>

<!-- {{- end }} -->

---

<!-- {{- define "SearchCard" }} -->
<div class="h-24 border">
  this is search results
</div>
<!-- {{- end }} -->

---

<!-- {{- define "SearchResult" }} -->
<div class="flex flex-col gap-6">
  <h1 class="text-2xl font-bold">Search Results</h1>
  <div class="grid grid-cols-2 gap-3">
    <SearchCard></SearchCard>
    <SearchCard></SearchCard>
    <SearchCard></SearchCard>
    <SearchCard></SearchCard>
  </div>
</div>

<!-- {{- end }} -->

---

<!-- {{- define "NoResult" }} -->
<div class="flex flex-col gap-6 items-center">
  <h1 class="text-2xl font-bold">Search Results</h1>
  <div>
    No results found
  </div>
</div>
<!-- {{- end }} -->

---

<!-- {{- define "Layout" }} -->
<div class="h-screen w-screen flex flex-col items-center justify-center">
  {children}
</div>
<!-- {{- end }} -->

---

<!-- {{- define "Root" }} -->
<html>
  <head>
    <link rel="stylesheet" href="/main.css" />
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/lucide@latest" async="true" onload="lucide.createIcons()"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body class="bg-slate-900 text-slate-50 p-3" id={id}>
    {children}
  <HomeScript></HomeScript>
  </body>
</html>
<!-- {{- end }} -->
